section{max-width:1200px;margin-top:0px}
header{background:none}
/*
https://www.transparenttextures.com/patterns/ice-age.png
https://www.transparenttextures.com/patterns/shattered-dark.png
*/
body{background:#000005 url('https://www.transparenttextures.com/patterns/shattered-dark.png') repeat}
pre{border-color:#333; background:#000112}
.wrapper{background:#11111180 ;max-width:1200px}
#header{border-bottom:0px;background:none;position:static;}
#header nav li a{background:transparent;border-radius:5px }
